<html>
    <head>
        <title>Daily Status</title>
    </head>
    <body>
        <h1>{{ date }}</h1>
        {% if shifts %}
        <div>
            <h2>Shifts</h2>
            <ul>
                {% for shift in shifts %}
                    <li>
                        <b>{{ shift.employee.name }}</b><br> <b>Start Time:</b> {{shift.start_time|time:'h:i a'}}<br>
                        <b>End Time:</b> {{ shift.end_time|time:'h:i a' }}<br>
                        {% if shift.position %}<b>Position:</b> {{ shift.position.name }}<br>{% endif %}
                        <b>Status:</b> {{ shift.get_status_display }}<br>
                        {% if shift.reason %}<b>Reason:</b> {{ shift.reason }}<br>{% endif %}
                        <a href="{% url 'scheduler:showShift' shift.employee.id shift.id %}">Edit</a>
                    </li><br>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
        {% if notes %}
        <div>
        <h2>Notes</h2>
            {% for note in notes %}
                {{ note.description }}<br><br>
            {% endfor %}
            </div>
        {% endif %}
        <a href="{% url 'scheduler:index' %}">Back</a>
    </body>
</html>